
/* body {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

#randomWords {
    font-size: 7vw;
    margin-top: 30vh;
}

#wordMeanings {
    font-size: 4vw;
    margin-top: 1em;
}

.btn {
    font-size: 4vw;
    padding: 1em;
    border-radius: 20px;
    border: none;
    color: #000;
    margin: 10px;
}